/* ==========================================
   Dashboard Layout
========================================== */

.dashboard-layout {
  min-height: 100vh;
  background: #f8fafc;
}


/* ==========================================
   Body
========================================== */

.dashboard-body {
  display: flex;
  margin-top: 74px;
}

/* ==========================================
   Main Content
========================================== */

.dashboard-content {
  flex: 1;
  min-width: 0;
  padding: 32px;
  overflow-x: hidden;
}

/* ==========================================
   Responsive
========================================== */

@media (max-width:768px){

.dashboard-body{
    flex-direction:column;
}

.dashboard-content{
    padding:20px;
}

}